#!/bin/bash

#####
#
# Cant use ansible pull until theres a way to auto install roles
#
#####
format_log() {
    printf "\nLOG - %s - %s\n" "$(date)" "$1"
}

export GIT_SSH_COMMAND='ssh -F {{ pull_job.full_working_dir }}/sshd_config'
export ANSIBLE_CONFIG={{ ansible_local.pull.default_config_file }}

format_log "Using root working directory {{ pull_job.full_working_dir }}"
format_log "Using ansible config file $ANSIBLE_CONFIG"
format_log "Using sshd_config file ${{ pull_job.full_working_dir }}/sshd_config"

cd {{ pull_job.full_working_dir }}
if [ -d "./{{ _scm_url_parts.project }}" ]; then
    rm -rf "./{{ _scm_url_parts.project }}"
fi

format_log "Cloning {{ pull_job_repo_url }}"
git clone {{ pull_job_repo_url }} {{ _scm_url_parts.project }}
cd "./{{ _scm_url_parts.project }}"

{% if not pull_job_use_project_pipfile %}
format_log "Removing project pipfiles, will use default"
rm -f Pipfile*
{% endif %}

format_log "Using pipfile located in $({{ ansible_local.pull.pipenv }} --where)"
format_log "Starting sync of pipenv packages"
{{ ansible_local.pull.pipenv }} --bare install
format_log "Done syncing pipenv"

if [ -f roles/requirements.yml ]; then
    format_log "Installing ansible requirements"
    {{ ansible_local.pull.pipenv }} run ansible-galaxy install -r roles/requirements.yml --force
    format_log "Finished installing requirements"
fi

format_log "Starting playbook run"
{{ ansible_local.pull.pipenv }} run ansible-playbook -i {{ pull_job_hosts_file }} {{ pull_job_playbook }}
format_log "Finished playbook run"
